{{- /*
  Copyright (c) Liam Stanley <liam@liam.sh>. All rights reserved. Use of
  this source code is governed by the MIT license that can be found in
  the LICENSE file.
*/ -}}
{{- define "helper/rest/server/constants" -}}
    {{- if not $.Annotations.RestConfig.DisableSpecHandler }}
    //go:embed openapi.json
    var OpenAPI []byte // OpenAPI contains the JSON schema of the API.
    {{- end }}

    // Operation represents the CRUD operation(s).
    type Operation string

    const (
        // OperationCreate represents the create operation (method: POST).
        OperationCreate Operation = "create"
        // OperationRead represents the read operation (method: GET).
        OperationRead Operation = "read"
	// OperationUpdate represents the update operation (method: PATCH).
	OperationUpdate Operation = "update"
	// OperationUpsert represents the upsert operation with partial updates (method: PUT).
	// When updating an existing entity, only provided fields are updated; unprovided optional
	// fields retain their existing values (PATCH-like semantics via PUT).
	// Note: This operation requires the ID field to be explicitly defined in the schema's Fields()
	// method (or via a Mixin). This enables Ent to generate the SetID() method, which is required
	// for upsert. Without an explicit ID field definition, compilation will fail.
	OperationUpsert Operation = "upsert"
	// OperationCreateOrReplace represents the upsert operation with full replacement (method: PUT).
	// When updating an existing entity, unprovided optional/nullable fields are cleared (set to nil),
	// implementing true HTTP PUT semantics of "create or replace the entire resource".
	// Note: This operation requires the ID field to be explicitly defined in the schema's Fields()
	// method (or via a Mixin). Cannot be used together with OperationUpsert on the same entity.
	OperationCreateOrReplace Operation = "replace"
	// OperationDelete represents the delete operation (method: DELETE).
        OperationDelete Operation = "delete"
        // OperationList represents the list operation (method: GET).
        OperationList Operation = "list"
    )
{{- end }}{{/* end template */}}
